body{
  font-family:Arial, Helvetica, sans-serif;
  color:#343434;
  width: 75%;
  max-width: 800px;
    margin: auto;
}

header{
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-style:oblique;
  display:inline-block;
  width:100%;
  max-width:790px;
  background-color:#7cffc4;
  padding:10px 0 10px 10px;
  margin:0 auto;
  margin-top:10px;
}

article{
  display:inline-block;
  max-width:790px;
  background-color:#9ffff5;
  padding:20px 20px 20px 20px;
  margin:0 auto;
}

img{
  vertical-align:top;
  padding:20px 20px 60px 0px;
  float:left;
}

footer{
  display:inline-block;
  width:800px;
  font-size:14px;
  margin-top:30px;
  padding:10px 0 10px 10px;
}

h1{
  text-align:center;
}

h2{
  margin-left:auto;
  margin-right:500px;
}

a{
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: #2bb8d1;
}

a:hover {
  color: #437A16;
}

.wrap{
  vertical-align:top; 
  padding-top:20px;
}

.pr{
  padding-right:30px;
}
